@tailwind base;
@tailwind components;
@tailwind utilities;

/* .rc-md-editor .rc-md-navigation .button-wrap  .button   {
    color: blue !important;
    background-color: blue !important;
} */

--select-bg {
    background: blue !important;
}

.rc-md-editor .editor-container .sec-md .input {
    background: black !important;
    color: white !important;
}
.rc-md-editor .editor-container .sec-html .html-wrap {
    background: black !important;
    color: white !important;
}

.rc-md-editor .rc-md-navigation {
    background: black !important;
    color: white;
}
.rc-md-navigation {
    background: black !important;
}

.rmel-iconfont {
    display: flex !important;
    color: rgb(215, 215, 216) !important;
}

.rmel-iconfont:hover {
    color: rgb(134, 134, 134) !important;
}
.rmel-icon-underline {
    color: gray !important;
    pointer-events: none !important;
}
.postCardBg {
    background-image: linear-gradient(
        to right top,
        #030e1f,
        #0c0818,
        #0e0410,
        #0a0106,
        #000000
    );
}
.notFoundBg {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}

.borderNav {
    border-top: 0.5px solid;

    border-image-source: radial-gradient(
        15749.33% 5042917.33% at 50% 0.76%,
        #ffffff 0%,
        #151515 100%
    );
}

.blackFadeImage {
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;
    mask-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.096),
        rgba(0, 0, 0, 1)
    );
    background-size: cover;
}
.blackFadeImageBottom {
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.096), rgba(0, 0, 0, 1));
    background-size: cover;
}

.notched-border::after {
    content: "";
    position: absolute;
    margin: -60px;
    width: 40px;
    border-right: 1px solid white;
    height: 40px;
    transform: rotate(45deg);
    background-color: #0f1012; /* to see where it is */
}

.notched-borderimg::after {
    content: "";
    position: absolute;
    margin-top: 200px;
    left: -20px;
    top: -220px;
    width: 40px;
    border-right: 1px solid white;
    height: 40px;
    transform: rotate(45deg);
    background-color: #0f1012; /* to see where it is */
}

.notched-border2::after {
    content: "";
    position: absolute;
    margin-top: 200px;
    right: -20px;
    bottom: -20px;
    width: 40px;
    border-left: 1px solid white;
    height: 40px;
    transform: rotate(45deg);
    background-color: #0f1012; /* to see where it is */
}

.bgBlue {
    background-image: url("../src/Assets/staticassets//purple.jpg");
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
}


/* Ensure that content inside .bgBlue is positioned above the overlay */
.bgBlue * {
    position: relative;
    z-index: 2;
}

.footerBg {
    background: linear-gradient(
        319.82deg,
        #3fffff 2.04%,
        #9462ff 22.25%,
        rgba(255, 148, 114, 0.4) 40.61%,
        #0f1012 61.76%
    );
}

.cryptoCardBorder {
    border: 0.5px solid rgba(255, 255, 255, 0.137);
    width: full;
}

@media screen and (max-width: 640px) {
    .notched-border::after {
        content: "";
        position: absolute;
        margin: -20px;
        left: 0px;
        top: -120px;
        top: 0;
        width: 40px;
        border-right: 1px solid white;
        height: 40px;
        transform: rotate(45deg);
        background-color: #0f1012; /* to see where it is */
    }
}

@media screen and (max-width: 768px) {
    .notched-border::after {
        content: "";
        position: absolute;
        margin: -20px;
        left: 0px;
        top: -120px;
        top: 0;
        width: 40px;
        border-right: 1px solid white;
        height: 40px;
        transform: rotate(45deg);
        background-color: #0f1012; /* to see where it is */
    }
}
